version: '3.3'

services:
  ################ Postgresql ################
  postgres:
    container_name: ${DB_HOST}
    restart: unless-stopped
    image: postgres:14
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data/db:/var/lib/postgresql/data

  ################# Transcendence #################
  transcendence:
    container_name: transcendence
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - ${BACK_PORT}:${BACK_PORT}
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      args:
        NODE_ENV: production
    volumes:
      - /etc/localtime:/etc/localtime:ro
